<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false">
	<testsuites>
		<testsuite name="loweoj/ofx-parser">
			<directory>./OfxParser/</directory>
		</testsuite>
	</testsuites>

	<filter>
		<whitelist>
			<directory>../lib/</directory>
		</whitelist>
	</filter>
</phpunit>